/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  font-family: 'myriad pro', verdana;
}

p, a {
  font-size: 20px;
}

a {
  color: #00769e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 25px;
}
ul {
  padding: 0;
}
ul.links li {
  list-style: none;
}

body {
  background: #F5F5F5;
}

 h2 {
    font-size: 55px;
    font-family: 'myriad pro', verdana;
  }


@media (min-width: 881px) {
  #header_wrapper {
      margin: 0 auto;
      background: #CF3C3A;
      height: 100px;
      padding: 10px 0 10px 0;
  }

  #wrapper {
      width: 881px;
      margin: 0 auto;
      padding: 50px 0 0 0;
  }

  .logo {
      float: left;
      padding: 0 30px 0 0;
      background-image: url(../img/logo-no.png);
      background-repeat: no-repeat;
      width: 500px;
      height: 100px;
  }

  .header {
      width: 900px;
      margin: 0 auto;
  }

  h1 {
      padding: 30px;
      font-weight: normal;
      margin: 0;
  }
  .contact-it {
    float: left;
    width: 40%;
  }

  h2, h3 {
      margin: 0;
  }

  .centre {
      width: 100%;
      float: left;
  }

  #english, #contact {
      padding: 20px 0 0 0;
  }
  ul.links li {
    background: white;
    margin:10px 10px 10px 0;
    padding: 20px;
    float: left;
    width: 17%;
    min-height: 110px;

  }
   ul.links li p {
    margin: 5px 0;
    font-size: 16px;
   }
    ul.links li a {
      font-size: 20px;
    }
}

@media (max-width: 880px) { 
  #header_wrapper{
    background-position: 30px 140px;
    height: 130px;
    padding: 10px 0 10px 0;
    background: #CF3C3A;
  }
  .logo {
    float: left;
    padding: 0 30px 0 0;
    margin-left: 10%;
    background-image: url(../img/logo-low.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;

  }
  h1 {
    padding: 30px 0 0 0;
    font-weight: normal;
  }
  .centre {
    padding: 20px;
  }
  ul.links li {
    background: white;
    margin:10px 10px 10px 0;
    padding: 20px;
    width: 90%;
  }
}

@media (max-width: 534px) {
  h1 {
    font-size: 1.5em;
  }
  .logo {
    padding: 0 10px 0 0;
  }
  #header_wrapper {
    height: 80px;
  }
  img {
  }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}