<!--

    NOTE: This is the master link list, in order to have one source to copy into other files

            <h3>Other online services from UiB</h3>
            <ul class="links">
              <li><a href="https://pahoyden.no">På Høyden (Internal channel for employees and students)</a></li>
              <li><a href="https://mitt.uib.no">Mitt UiB (Learning platform)</a></li>
              <li><a href="https://treet.uib.no/">UiBtreet (Dashbord for students)</a></li>
              <li><a href="https://timer.uib.no">Self-service portal (For employees)</a></li>
              <li><a href="https://hjelp.uib.no">UiBhjelp (Service management portal for employees and students)</a></li>
            </ul>

            <h3>Andre nettbaserte tjenester fra UiB</h3>
            <ul class="links">
              <li><a href="https://pahoyden.no">På Høyden (Intern kanal for ansatte og studenter)</a></li>
              <li><a href="https://mitt.uib.no">Mitt UiB (Læringsplattform)</a></li>
              <li><a href="https://treet.uib.no/">UiBtreet (Dashbord for studenter)</a></li>
              <li><a href="https://timer.uib.no">Selvbetjeningsportalen (For ansatte)</a></li>
              <li><a href="https://hjelp.uib.no">UiBhjelp (Administrative tjenester for ansatte og studenter)</a></li>
            </ul>
-->